{
  "log-driver": "{{ docker_daemon_log_driver }}",
  "firewall-backend": "{{ docker_daemon_firewall_backend }}",
  "ipv6": {{ docker_daemon_ipv6 | to_json }},
  "fixed-cidr-v6": "{{ docker_daemon_fixed_cidr_v6 }}"
}
